<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - АППО (Автоматизированая платформа персонифицированного обучения Краснодарского края)</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.maskedinput.min.js"></script>
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body class="theme_bg_grad">

    <canvas id="stars"></canvas>






    <nav class="navbar navbar-expand-lg navbar-light navbar1 text-white bg-nav align-items-start">
        <div class="container-fluid row justify-content-between ">
            <div class="col-4 me-auto">
                <a class="navbar-brand logo-nav " href="#"><img src="~/file/logo200.png" width="70" />ИРО КК</a>
            </div>
            <div class="col-8 text-end">
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Переключатель навигации">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ms-auto" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a asp-action="Profile" asp-controller="LK" class="nav-link btn btn-theme fs-3 text-white">
                                <i class="bi bi-person-square"></i> Профиль
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Login" asp-controller="Account" class="nav-link btn btn-theme fs-3 text-white">
                                <i class="bi bi-key"></i>
                                Войти
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>







    @* <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">СИСПР</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Приватность</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@
    <div class="container ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - АППО (Автоматизированая платформа персонифицированного обучения Краснодарского края) - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/stars.js"></script>
    <script src="~/js/jquery.maskedinput.min.js"></script>
    @*<script src="https://unpkg.com/vue@next"></script>
        <script src=" https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.5/trianglify.min.js" asp-append-version="true"></script>
        <script src=" https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js" asp-append-version="true"></script>*@

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
