@model SISPR.Models.ErrorViewModel
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <article>Читай</article>
    <p>Ну читай алиса</p>
    <p>Это очень важный текст</p>
    <p>Ну читай алиса</p>
    <p>Ну читай алиса</p>
    <p>Ну читай алиса</p>
    <p>Ну читай алиса</p>
    <p>Ну читай алиса</p>
    <p>Ну читай алиса</p>
    <p>Ну читай алиса</p>
    <p>Ну читай алиса</p><p>Ну читай алиса</p><p>Ну читай алиса</p>
    <p>Ну читай алиса</p><p>Ну читай алиса</p><p>Ну читай алиса</p><p>Ну читай алиса</p><p>Ну читай алиса</p><p>Ну читай алиса</p><p>Ну читай алиса</p>

</div>

<div id="polygon" ></div>
<script src="~/js/three.min.js"></script>
<script src="~/js/zoom-polygon.js"></script>