<div class="form-group col-12">
    <a asp-controller="Roles" asp-action="RoleList" class="btn btn-outline-primary">Регистрация1</a>
</div>
<div class="form-group col-12">
    <a asp-controller="Roles" asp-action="UserList" class="btn btn-outline-primary">Регистрация2</a>
</div>
<div class="form-group col-12">
    <a asp-controller="Roles" asp-action="Create" class="btn btn-outline-primary">Регистрация3</a>
</div>
