@{
    ViewData["Title"] = "Авторизация";
}




<form role="form" method="post" class="needs-validation text-center bg-wh  " style="max-width:500px; min-width:300px" novalidate>
    <div class="card-body shadow-lg container g-2 row">
        <div width="200" height="200">
            <img width="200" height="200" src="~/file/logo.png" />
        </div>
        <h3>Институт развития образования Краснодарского края</h3>
        <div class="form-floating col-12">
            <input type="email" class="form-control inp-theme" id="emailInput" placeholder="name@example.com" required>
            <label for="floatingInput">Адрес электронной почты</label>
            <div class="valid-feedback">
                Все хорошо!
            </div>
            <div class="invalid-feedback">
                Введите коректный адрес электронной почты
            </div>
        </div>

        <div class="form-floating col-12 ">
            <input type="password" class="form-control inp-theme" id="passwordInput" placeholder="********" pattern=".{6,}" required>
            <label for="passwordInput">Пароль</label>
            <div class="invalid-feedback">
                Пароль должен состоять не меньше из 6 символов
            </div>
        </div>
        <div class="col-12">
            <a href="#">Забыли пароль или адрес электронной почты?</a>
        </div>
        <div class="form-group col-12">
            <button type="submit" class="btn btn-theme">Войти</button>
        </div>
        <div class="d-flex">
            @* <div class="col me-2"><hr></div>
                <div class="col-auto">ИЛИ</div>
                <div class="col ms-2"><hr></div>*@
            <hr class="hr col-12" />
        </div>
        <div class="form-group col-12">
            <a asp-controller="Account" asp-action="Registration" class="btn btn-outline-primary">Регистрация</a>
        </div>
    </div>
</form>

<script>
    // Пример стартового JavaScript для отключения отправки форм при наличии недопустимых полей
    (function () {
        'use strict'

        // Получите все формы, к которым мы хотим применить пользовательские стили проверки Bootstrap
        var forms = document.querySelectorAll('.needs-validation')

        // Зацикливайтесь на них и предотвращайте отправку
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
