@model SISPR.Models.ViewModels.RegisterViewModel


@{
    ViewData["Title"] = "Регистрация";
}




<form role="form" class="needs-validation text-center bg-wh w-5" method="post" style="max-width:1200px; min-width:400px" id="contact-form" novalidate>
    <div class="card-body shadow-lg container   overflow-hidden p-4">
        <div class="row">
            <div class="col-12 col-md-9 row-alt " id="div_first">
                <h5 class="col-12">Создайте аккаунт ИРО</h5>
                @*<div class="row m-2">*@
                <div class="form-floating col-12 col-md-6 col-lg-4 pe-md-3">
                    <input type="text" asp-for="F" class="form-control inp-theme" id="FaInput" placeholder="Иванов*" required>
                    <label for="floatingInput">Фамилия</label>
                    <div class="valid-feedback">
                        Все хорошо!
                    </div>
                    <div class="invalid-feedback">
                        Введите коректную фамилию
                    </div>
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-4 pe-md-3">
                    <input type="text" asp-for="I" class="form-control inp-theme" id="ImInput" placeholder="Иван*" required>
                    <label for="floatingInput">Имя</label>
                    <div class="valid-feedback">
                        Все хорошо!
                    </div>
                    <div class="invalid-feedback">
                        Введите коректное имя
                    </div>
                </div>

                <div class="form-floating col-12 col-md-6 col-lg-4 pe-md-3">
                    <input type="text" asp-for="O" class="form-control inp-theme" id="OtInput" placeholder="Иванович">
                    <label for="floatingInput">Отчество</label>
                    <div class="valid-feedback">
                        Все хорошо!
                    </div>
                    <div class="invalid-feedback">
                        Введите отчество при его наличии
                    </div>
                </div>
                @*</div>
                    <div class="row m-2">*@
                <div class="form-floating col-12 col-md-6 col-lg-4 pe-md-3">
                    <input type="email" asp-for="Email" class="form-control inp-theme" id="emailInput" placeholder="name@example.com" required>
                    <label for="floatingInput">Адрес электронной почты</label>
                    <div class="valid-feedback">
                        Все хорошо!
                    </div>
                    <div class="invalid-feedback">
                        Введите коректный адрес электронной почты
                    </div>
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-4 pe-md-3">
                    <input type="password" class="form-control inp-theme" asp-for="Password" id="passwordInput" placeholder="********" pattern=".{6,}" required>
                    <label for="passwordInput">Пароль</label>
                    <div class="invalid-feedback">
                        Пароль должен состоять не менее чем из 6 символов
                    </div>
                </div>
                <div class="form-floating col-12 col-md-6 col-lg-4 pe-md-3">
                    <input type="password" class="form-control inp-theme" id="passwordCheckInput" asp-for="PasswordConfirm" placeholder="********" pattern=".{6,}" required>
                    <label for="passwordInput">Подтвердите пароль</label>
                    <div class="invalid-feedback">
                        Пароль не совподает
                    </div>
                </div>
                @*</div>*@

                <a asp-controller="Account" asp-action="Login" style="flex-direction: column; justify-content: center; display: inline-flex; " class="btn btn-sm btn-primary col-12 col-md-3 me-auto ">У меня есть акаунт</a>

                <button class="btn btn-lg btn-theme col-12 col-md-3 ms-auto me-md-3">Далее</button>

            </div>

            <div class="col-12 col-md-9 row-alt d-none" id="div_second">
                <h5 class="col-12">Создайте аккаунт ИРО</h5>
                @*<div class="row m-2">*@
                <div class="form-floating col-12 col-md-6 col-lg-4 pe-md-3">
                    <input type="text" class="form-control inp-theme" id="regionInput" onchange="regDa(this.value)" placeholder="Краснодар">
                    <input type="text" id="regionNoTypeInput">
                    <input type="text" id="regionIdInput">
                    <label for="regionInput">Регион</label>
                    <div class="invalid-feedback">
                        Введите регион
                    </div>
                    <div class="invalid-feedback " id="regInvDiv">
                        Регион не найден. Попробуйте ввести заново
                    </div>
                </div>
                <script>
                    class Address {
                        constructor() {
                            this.regIn = document.getElementById("regionInput");
                            this.regNoTypeIn = document.getElementById("regionNoTypeInput");
                            this.regIdIn = document.getElementById("regionIdInput");
                            this.regInvDiv = document.getElementById("regInvDiv");
                            this.moIn = document.getElementById("moInput");
                            this.moNoTypeIn = document.getElementById("moNoTypeInput");
                            this.moIdIn = document.getElementById("moIdInput");
                            this.moInvDiv = document.getElementById("moInvDiv");
                            this.cityIn = document.getElementById("cityInput");
                            this.cityNoTypeIn = document.getElementById("cityNoTypeInput");
                            this.cityIdIn = document.getElementById("cityIdInput");
                            this.cityInvDiv = document.getElementById("cityInvDiv");
                            this.ooIn = document.getElementById("ooInput");
                            this.ooNoTypeIn = document.getElementById("ooNoTypeInput");
                            this.ooIdIn = document.getElementById("ooIdInput");
                        }
                    }

                    function regDa(adr) {
                        var adress = new Address();
                        if (adress.regIn.value == null) {
                            adress.moIn.setAttribute("disabled", "disabled");
                        }
                        else {
                            jQuery.ajax({
                                url: '/Account/RegionAjax/',
                                type: "POST",
                                dataType: "json",
                                data: { adr: adr },
                                success: function (query) {
                                    if (query.region_id == -30) {
                                        adress.regIn.value = "";
                                        adress.regInvDiv.classList.add("d-block");
                                        adress.moIn.setAttribute("disabled", "disabled");
                                    }
                                    else {
                                        adress.regIn.value = query.name;
                                        adress.regNoTypeIn.value = query.search_name;
                                        adress.regIdIn.value = query.fias_code;
                                        adress.moIn.attributes.removeNamedItem("disabled");
                                        adress.regInvDiv.classList.remove("d-block");
                                    }
                                }
                            });
                        }

                    };

                    function moDa(adr) {
                        var adress = new Address();
                        if (adress.moIn.value == null) {
                            adress.cityIn.setAttribute("disabled", "disabled");
                        }
                        else {
                            jQuery.ajax({
                                url: '/Account/MoAjax/',
                                type: "POST",
                                dataType: "json",
                                data: { adr: adr, reg: adress.regNoTypeIn.value },
                                success: function (query) {
                                    adress.moIn.value = query.name;
                                    adress.moNoTypeIn.value = query.searсh_name;
                                    adress.moIdIn.value = query.fias_code;
                                    if (query.region_id == -10) {
                                        adress.cityIn.value = query.name;
                                        adress.cityNoTypeIn.value = query.searсh_name;
                                        adress.cityIdIn.value = query.fias_code;
                                        adress.cityIn.attributes.removeNamedItem("disabled");
                                        adress.moInvDiv.classList.remove("d-block");
                                    }
                                    else if (query.region_id == -30 || query.region_id == -20) {
                                        //alert("Муниципальное образование не найдено. Попробуйте ввести заново");
                                        adress.moIn.value = "";
                                        adress.moInvDiv.classList.add("d-block");
                                        adress.cityIn.setAttribute("disabled", "disabled");
                                    }
                                    else {

                                        adress.cityIn.attributes.removeNamedItem("disabled");
                                        adress.moInvDiv.classList.remove("d-block");
                                    }
                                }
                            });
                        }

                    };

                    function cityDa(adr) {
                        var adress = new Address();
                        if (adress.moIn.value == null) {
                            adress.ooIn.setAttribute("disabled", "disabled");
                        }
                        else {
                            jQuery.ajax({
                                url: '/Account/CityAjax/',
                                type: "POST",
                                dataType: "json",
                                data: { adr: adr, reg: adress.regNoTypeIn.value, mo: adress.moNoTypeIn.value },
                                success: function (query) {
                                    adress.moIn.value = query.name;
                                    adress.moNoTypeIn.value = query.searсh_name;
                                    adress.moIdIn.value = query.fias_code;
                                    if (query.region_id == -10) {
                                        adress.cityIn.value = query.name;
                                        adress.cityNoTypeIn.value = query.searсh_name;
                                        adress.cityIdIn.value = query.fias_code;
                                        adress.cityIn.attributes.removeNamedItem("disabled");
                                        adress.moInvDiv.classList.remove("d-block");
                                    }
                                    else if (query.region_id == -30 || query.region_id == -20) {
                                        //alert("Муниципальное образование не найдено. Попробуйте ввести заново");
                                        adress.moIn.value = "";
                                        adress.moInvDiv.classList.add("d-block");
                                        adress.cityIn.setAttribute("disabled", "disabled");
                                    }
                                    else {

                                        adress.cityIn.attributes.removeNamedItem("disabled");
                                        adress.moInvDiv.classList.remove("d-block");
                                    }
                                }
                            });
                        }

                    };

                    function ooDa(adr) {
                        var adress = new Address();
                        //if (adress.moIn.value == null) {
                        //    adress.cityIn.setAttribute("disabled", "disabled");
                        //}
                        //else {
                        jQuery.ajax({
                            url: '/Account/OoAjax/',
                            type: "POST",
                            dataType: "json",
                            data: { adr: adr, reg: adress.ooIn.value },
                            success: function (query) {
                                adress.ooIn.value = query.name_short;
                                // adress.moNoTypeIn.value = query.searсh_name;
                                // adress.moIdIn.value = query.fias_code;
                                // //if (query.region_id == -10) {
                                //     adress.cityIn.value = query.name;
                                //     adress.cityNoTypeIn.value = query.searсh_name;
                                //     adress.cityIdIn.value = query.fias_code;
                                //     adress.cityIn.attributes.removeNamedItem("disabled");
                                //     adress.moInvDiv.classList.remove("d-block");
                                //// }
                                //else if (query.region_id == -30 || query.region_id == -20) {
                                //    //alert("Муниципальное образование не найдено. Попробуйте ввести заново");
                                //    adress.moIn.value = "";
                                //    adress.moInvDiv.classList.add("d-block");
                                //    adress.cityIn.setAttribute("disabled", "disabled");
                                //}
                                //else {

                                //    adress.cityIn.attributes.removeNamedItem("disabled");
                                //    adress.moInvDiv.classList.remove("d-block");
                                //}
                            }
                        });
                        // }

                    };








                </script>
                <div class="form-floating col-12 col-md-6 col-lg-4 pe-md-3">
                    <input type="text" class="form-control inp-theme " id="moInput" onchange="moDa(this.value)" placeholder="Краснодар" disabled>
                    <input type="text" id="moNoTypeInput">
                    <input type="text" id="moIdInput">
                    <label for="moInput">МО</label>
                    <div class="invalid-feedback">
                        Введите муниципалитет
                    </div>
                    <div class="invalid-feedback " id="moInvDiv">
                        Муниципальное образование не найдено. Попробуйте ввести заново
                    </div>
                </div>



                <div class="form-floating col-12 col-md-6 col-lg-4 pe-md-3">
                    <input type="text" class="form-control inp-theme" id="cityInput" placeholder="Краснодар" disabled>
                    <input type="text" id="cityNoTypeInput">
                    <input type="text" id="cityIdInput">
                    <label for="cityInput">Населенный пункт</label>
                    <div class="invalid-feedback">
                        Введите населенный пункт
                    </div>
                    <div class="invalid-feedback " id="cityInvDiv">
                        Населенный пункт не найден. Попробуйте ввести заново
                    </div>
                </div>
                @*</div>
                    <div class="row m-2">*@
            <div class="form-floating col-12 col-md-6 col-lg-4 pe-md-3">
                <input type="text" class="form-control inp-theme" id="ooInput" placeholder="СОШ №1" onchange="ooDa(this.value)">
                <input type="text" id="ooNoTypeInput">
                <input type="text" id="ooIdInput">
                <label for="ooInput">Краткое наименование ОО</label>
                <div class="invalid-feedback">
                    Введите краткое наименование ОО
                </div>
            </div>
                <div class="form-floating col-12 col-md-6 col-lg-4 pe-md-3">
                    <input type="text" class="form-control inp-theme mask-phone" id="telInput" placeholder="8-999-422-22-11" pattern=".{10,}">
                    <label for="telInput">Телефон</label>
                    <div class="invalid-feedback">
                        Пароль должен состоять не менее чем из 6 символов
                    </div>
                </div>
                <script>
                    $('.mask-phone').mask('+7 (999) 999-99-99');
                </script>
                <div class="form-floating col-12 col-md-6 col-lg-4 pe-md-3">
                    <input type="text" class="form-control inp-theme mask-snils" id="snilsInput" placeholder="111-111-111 11" pattern=".{10,}">
                    <label for="snilsInput">СНИЛС</label>
                    <div class="invalid-feedback">
                        Пароль не совподает
                    </div>
                </div>
                <script>
                    $('.mask-snils').mask('999-999-999 99');
                </script>

                <a asp-controller="Account" asp-action="Login" style="flex-direction: column; justify-content: center; display: inline-flex; " class="btn btn-sm btn-primary col-12 col-md-3 me-auto ">Назад</a>

                <button class="btn btn-lg btn-theme col-12 col-md-3 ms-auto me-md-3 " asp-action="Register" asp-controller="Account">Регистрация</button>


            </div>



            <div class="col-3 reg">
                <div width="200" height="200">
                    <img width="200" height="200" class="img-card-home" src="~/file/logo.png" />
                </div>
                <p>Один аккаунт - для всех сервисов Института развития образования Краснодарского края</p>
            </div>
        </div>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    //Пример стартового JavaScript для отключения отправки форм при наличии недопустимых полей

    var n = 0;
    (function () {
        'use strict'

        // Получите все формы, к которым мы хотим применить пользовательские стили проверки Bootstrap
        var forms = document.querySelectorAll('.needs-validation');

        // Зацикливайтесь на них и предотвращайте отправку

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit',
                    function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                            alert(1);
                            form.classList.add('was-validated');
                        } else if (n == 0) {

                            next();
                            n = 1;
                            form.classList.remove('was-validated');
                            event.preventDefault();
                            event.stopPropagation();
                        } else {
                            form.classList.remove('was-validated');
                        }
                        //form.classList.add('was-validated')
                    },
                    false);
            });


    })();


    function next() {
        var DivFirst = document.getElementById('div_first');
        var DivSecond = document.getElementById('div_second');
        var regInput = document.getElementById('regInput');
        DivFirst.classList.add("d-none");
        DivSecond.classList.remove("d-none");
        $('#regionInput').prop('required', true);
        $('#snilsInput').prop('required', true);
    }
</script>
